# Copy the Qualifier annotation from the instance variables to the constructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Autowire
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.lang.Nullable

# Equals and Hash code
lombok.equalsandhashcode.callsuper = call
lombok.toString.callSuper = call
